<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ensai.frigomalin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/frigo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:configChanges="locale"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScannerCodeBarre">
            android:configChanges="locale"
        </activity>
        <activity android:name=".LireURL">
            android:configChanges="locale"</activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Ajout_element" />
        <activity android:name=".VoirPlacard" />
        <activity android:name=".VoirProduit" />
        <activity android:name=".Ajout_element_courses" />
        <activity android:name=".ListeCours" />
        <activity android:name=".ProduitPerime"></activity>
    </application>

</manifest>